# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# TensorFlow/Keras temporary files
*.h5

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python environment
.env